body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	margin: 20px auto;
	width: 630px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
}

.goods_container {
	margin: 20px auto;
	width: 630px;
	display: flex;
	align-content: space-around;
}

.images {
	width: 100px;
	height: 100px;
}

.goods {
	padding: 0;
	width: 100px;
	height: 100px;
	border: 0;
}